<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{xdm/include/head ::head}"></div>
	  
<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <!-- Small table -->
                <div class="col-md-12 my-4">
                  <div class="row">
                    <div class="col-3">
                      <span style="color: blue;">Page1</span> > <span style="color: blue;">Page2</span> > Default
                    </div>
                    <div class="col-9"></div>
                  </div>
          
                  <div class="row">
                    <div class="col-3">
                      <h2><b>회원</b> </h2>
                    </div>
                  </div>
                  
				  
				  <form name="formList" id="formList" method="post" autocomplete="off">
				  			  			<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
				  			  			<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
										<input type="hidden" name="useq" >
				  			  
				  	<script>
				  			let form = document.querySelector("form[name=formList]");
				  				goList = function (thisPage) {
				  				document.querySelector("input[name=thisPage]").value = thisPage;
				  				form.action = "/user/userXdmList";
				  				form.submit();
				  				}
				  	</script>
				  
				  
				  
                  <div class="row">
                    <div class="col-2">
                      <select id="shDelNy" name="shDelNy"  class="custom-select mr-sm-2" aria-label="Large select example">
						<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
						<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
						<option value="0" th:selected="${vo.shDelNy == 0}">N</option>  
                      </select>
                    </div>
                   
                    <div class="col-2">
                      <select name="shUseNy" id="shUseNy" class="custom-select mr-sm-2" aria-label="Large select example">
						<option value="" th:selected="${vo.shUseNy == null}">사용여부</option>
						<option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
						<option value="0" th:selected="${vo.shUseNy == 0}">N</option>
                      </select>
                    </div>

                    <div class="col-2">
                      <select id="shOptionDate" name="shOptionDate" class="custom-select mr-sm-2" aria-label="Large select example">
						<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
						<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
						<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
                      </select>
                    </div>

                    <div class="col-2">
                      <input class="form-control" style="height: 35px; width: 170x;" type="text" placeholder="2024-12-25" aria-label="Disabled input example" disabled>                    
                    </div>

                    <div class="col-2">
                      <input class="form-control" style="height: 35px; width: 170x;" type="text" placeholder="2025-01-24" aria-label="Disabled input example" disabled>                    
                    </div>
                  </div>

<br>

                  <div class="row">
                    <div class="col-2">
                      <select id="shOption" name="shOption" class="custom-select mr-sm-2" aria-label="Large select example">
						<option value="" th:selected="${vo.shOption == null}">검색구분</option>
												<option value="1" th:selected="${vo.shOption == 1}">코드</option>
												<option value="2" th:selected="${vo.shOption == 2}">이름</option>
												<option value="3" th:selected="${vo.shOption == 3}">등록물품</option>
                      </select>
                    </div>

                    <div class="col-2">
                     <!-- <input class="form-control" style="height: 35px; width: 170x;" type="text" placeholder="검색어 입력" aria-label="Disabled input example">         -->
					 <input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control" style="height: 35px; width: 170x;">
 					  	<div class="invalid-feedback" id="shValueFeedback"></div>
					 </div>

                    <div class="col-2">
                      <button type="button" id="btnSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                      </button>
                      &nbsp;
                      <button type="button" id="btnReset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                        </svg>
                      </button>
                    </div> 
                  </div>
                  <br>


				  
				  <script>
  					document.getElementById("btnSearch").onclick = function () {
  					    form.action =  "/user/userXdmList";
  					    form.submit();
  					};
  				  </script>


                  <div class="card shadow">
                    <div class="card-body">
                      <div class="toolbar">
                        <form class="form">
                          <div class="form-row">
                            <div class="form-group col-auto mr-auto">
                              <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                               Total:<span th:text="${vo.totalRows}"></span>
                            </div>
                            <div class="form-group col-auto">
                              <select class="custom-select mr-sm-2" id="changeRowNum" name="changeRowNum">
								<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
								<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
								<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
								<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
								<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
								<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option>  
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- table -->
					  <script>
  						document.getElementById("changeRowNum").onchange = function () {
  						    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
  						    form.action ="/user/userXdmList";
  						    form.submit();
  						}
  					  </script>
					  
					  
					  
                      <table class="table table-borderless table-hover">
                        <thead>
                          <tr>
                            <th>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="uselect-all">
                                <label class="custom-control-label" for="uselect-all"></label>
                              </div>
                            </th>
                            <th>#</th>
                            <th>사용</th>
                            <th>코드</th>
                            <th>이름</th>
                            <th>휴대폰 번호</th>
                            <th>성별</th>
                            <th>등록 물품</th>
                            <th>아이디(email)</th>
                            <th>비밀번호</th>
                            <th>등록일</th>
                            <th>수정일</th>
                          </tr>
                        </thead>
                        <tbody>
							<tr th:if="${#lists.isEmpty(list)}" class="hover-action-trigger btn-reval-trigger position-static">
	                            <td colspan="10">
	                            <p class="fs-0" style="padding-top: 12px;">There are no datal</p>
	                            </td>
	                          </tr>
	                          <tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
	                            <td>
	                              <div class="custom-control custom-checkbox">
	                                <input type="checkbox" class="custom-control-input" th:id="${list.useq}">
	                                <label class="custom-control-label" th:for="${list.useq}"></label>
	                              </div>
	                            </td>

	                            <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
	                            <td th:text="${list.uUseNy}"></td>
								<td th:text="${list.useq}"></td>
								<td class="uName align-middle fw-semi-bold"><a href="javascript:void(0);" th:text="${list.uName}" th:attr="onclick=|goForm('${list.useq}')|"></a></td>
								<td th:text="${list.uPhoneNum}"></td>
								<td th:text="${@codeService.selectOneCachedCode(list.uGender)}"></td>
								<td th:text="${list.uItem}"></td>
	                            <td th:text="${list.uIdEmail}"></td>
	                            <td th:text="${list.uPassword}"></td>
	                            <td></td>
	                            <td></td>
	                          </tr>
                           
                           
                           
                          
                           
                           
                        </tbody>
                      </table>

					  
					  
					  
					  <script>
						 
						
						
						
						
						
					  					document.addEventListener("DOMContentLoaded", function () {
					  					  // 전체 선택 체크박스
					  					  const selectAllCheckbox = document.getElementById("uselect-all");
					  					  
					  					  // 모든 체크박스 요소
					  					  const checkboxes = document.querySelectorAll("input[type='checkbox']:not(#uselect-all)");

					  					  // 전체 선택 체크박스 클릭 이벤트
					  					  selectAllCheckbox.addEventListener("change", function () {
					  					    checkboxes.forEach(function (checkbox) {
					  					      checkbox.checked = selectAllCheckbox.checked;
					  					    });
					  					  });

					  					  // 각 항목 체크박스 클릭 이벤트
					  					  checkboxes.forEach(function (checkbox) {
					  					    checkbox.addEventListener("change", function () {
					  					      updateSelectAllCheckboxState();
					  					    });
					  					  });

					  					  // 전체 선택 체크박스 상태 업데이트 함수
					  					  function updateSelectAllCheckboxState() {
					  					    const totalCheckboxes = checkboxes.length;
					  					    const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;

					  					    if (checkedCheckboxes === totalCheckboxes) {
					  					      // 모든 체크박스가 체크됨
					  					      selectAllCheckbox.checked = true;
					  					      selectAllCheckbox.indeterminate = false; // 중간 상태 해제
					  					    }   else {
					  					      // 모든 체크박스가 체크되지 않음
					  					      selectAllCheckbox.checked = false;
					  					      selectAllCheckbox.indeterminate = false;
					  					    }
					  					  }
					  					});
					  				  </script>

                      <div class="row"> 
                      <div class="col-2">
                        <div>
                          <button type="button" class="btn btn-outline-danger">
                            x
                          </button>
                          <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <div class="col-7"> 
                      <nav aria-label="Table Paging" class="mb-0 text-muted">
                        <ul class="pagination justify-content-center mb-0;  ">
							<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
								<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
									<i class="fa-solid fa-angle-left"></i>
								</a>
							</li>
							<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
							</li>
							<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
									<i class="fa-solid fa-angle-right"></i>
								</a>
							</li>
                        </ul>
                      </nav>
                     </div>

                     <div class="col-3">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary">
                      U
                    </button>
                    <button type="button" class="btn btn-outline-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-x" viewBox="0 0 16 16">
                        <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                        <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"/>
                        <path d="M8 8.293 6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708z"/>
                      </svg>
                    </button>
                    <a href="/user/userXdmForm"> 
                    <button type="button" id="btnForm" class="btn btn-outline-primary">
                      +
                    </button>
                  </a>
                  </div>

                    </div>


					<script>
						let seq = document.querySelector("input[name=useq]");	
						document.getElementById("btnForm").onclick = function () {
						    goForm(0);
						}


						goForm = function (keyValue) {
						    seq.value = keyValue;
		 
						    form.action = "/user/userXdmMfom";
						    form.submit();
						}
					</script>


                    </div>
                  </div>
                </div> <!-- customized table -->
              </div> <!-- end section -->
               
               
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/xdm/template/tiny/light/js/jquery.min.js"></script>
    <script src="/xdm/template/tiny/light/js/popper.min.js"></script>
    <script src="/xdm/template/tiny/light/js/moment.min.js"></script>
    <script src="/xdm/template/tiny/light/js/bootstrap.min.js"></script>
    <script src="/xdm/template/tiny/light/js/simplebar.min.js"></script>
    <script src='/xdm/template/tiny/light/js/daterangepicker.js'></script>
    <script src='/xdm/template/tiny/light/js/jquery.stickOnScroll.js'></script>
    <script src="/xdm/template/tiny/light/js/tinycolor-min.js"></script>
    <script src="/xdm/template/tiny/light/js/config.js"></script>
    <script src='/xdm/template/tiny/light/js/jquery.dataTables.min.js'></script>
    <script src='/xdm/template/tiny/light/js/dataTables.bootstrap4.min.js'></script>
	<script src='/xdm/template/tiny/light/jquery/jquery-3.7.1.min.js'></script>
	<script src='/xdm/template/tiny/light/js/jquery.validate.min.js'></script>

    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="/xdm/template/tiny/light/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>